<nav class="nav">
    <div *ngIf="mode === 0" class="container">
        <div class="nav-left">
            <a class="nav-item" routerLink="/" routerLinkActive="active">
                <img src="assets/images/web-logo2.png" alt="Reserve Football Stadium">
            </a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/reserve" routerLinkActive="is-active">จองสนาม</a>
        </div>
        <span class="nav-toggle">
      <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">จองสนาม</a>
            <a *ngIf="!username" class="nav-item is-tab" href="javascript:void(0);" (click)="openLoginModal(passedParameter = { username: 'user', password: 'pass'})">เข้าสู่ระบบ</a>
        </div>
    </div>


    <div *ngIf="mode === 1" class="container">
        <div class="nav-left">
            <a class="nav-item" routerLink="/" routerLinkActive="active">
                <img src="assets/images/web-logo2.png" alt="Reserve Football Stadium">
            </a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/reserve" routerLinkActive="is-active">จองสนาม</a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/reservelist" routerLinkActive="is-active">รายการจองสนาม</a>
        </div>
        <span class="nav-toggle">
      <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">จองสนาม</a>
            <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">รายการจองสนาม</a>
            <a *ngIf="username" class="nav-item is-tab" routerLink="/user/id" routerLinkActive="is-active">
                <span class="icon">
                <i class="fa fa-user"></i>
              </span> {{username}}
            </a>
            <a *ngIf="!username" class="nav-item is-tab" href="javascript:void(0);" (click)="openLoginModal(passedParameter = { username: 'user', password: 'pass'})">เข้าสู่ระบบ</a>
            <a *ngIf="username" class="nav-item is-tab" href="javascript:void(0);" (click)="logout()">LOGOUT</a>
        </div>
    </div>

    <div *ngIf="mode === 2" class="container">
        <div class="nav-left">
            <a class="nav-item" routerLink="/" routerLinkActive="active">
                <img src="assets/images/web-logo2.png" alt="Reserve Football Stadium">
            </a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/manage" routerLinkActive="is-active">จัดการสนาม</a>
        </div>
        <span class="nav-toggle">
      <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">จัดการสนาม</a>
            <a class="nav-item is-tab" routerLink="/user/id" routerLinkActive="is-active">
                <span class="icon">
          <i class="fa fa-user"></i>
        </span> {{username}}
            </a>
            <a *ngIf="!username" class="nav-item is-tab" href="javascript:void(0);" (click)="openLoginModal(passedParameter = { username: 'user', password: 'pass'})">เข้าสู่ระบบ</a>
            <a *ngIf="username" class="nav-item is-tab" href="javascript:void(0);" (click)="logout()">LOGOUT</a>
        </div>
    </div>

    <div *ngIf="mode === 3" class="container">
        <div class="nav-left">
            <a class="nav-item" routerLink="/" routerLinkActive="active">
                <img src="assets/images/web-logo2.png" alt="Reserve Football Stadium">
            </a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/managermanagment" routerLinkActive="is-active">ผู้จัดการ</a>
            <a class="nav-item is-tab is-hidden-mobile" routerLink="/usermanagement" routerLinkActive="is-active">ผู้ใช้ทั่วไป</a>
        </div>
        <span class="nav-toggle">
      <span></span>
        <span></span>
        <span></span>
        </span>
        <div class="nav-right nav-menu">
            <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">ผู้จัดการ</a>
            <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">ผู้ใช้ทั่วไป</a>
            <a class="nav-item is-tab" routerLink="/user/id" routerLinkActive="is-active">
                <span class="icon">
          <i class="fa fa-user"></i>
        </span> {{username}}
            </a>
            <a *ngIf="!username" class="nav-item is-tab" href="javascript:void(0);" (click)="openLoginModal(passedParameter = { username: 'user', password: 'pass'})">เข้าสู่ระบบ</a>
            <a *ngIf="username" class="nav-item is-tab" href="javascript:void(0);" (click)="logout()">LOGOUT</a>
        </div>
    </div>
</nav>
<alert></alert>
<modal-placeholder></modal-placeholder>
<router-outlet></router-outlet>

<!--
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>RFS</strong> คือ <strong>Reservation Football Stadium</strong>
            </p>
            <p>
                <strong>บริหารงานโดย</strong>
            </p>
            <p>ณัฐกิตติ์  วัยวัฒน์ภัทรกุล  57070033</p>
            <p>พศวัต  พฤกษ์พนาสันต์  57070077</p>
            <p>พิพัฒน์  เสวย  57070080</p>
            <p>วรพงษ์  มาลัยวงษ์  57070103</p>
            <p>วัฒกร  มะลิขาว  57070106</p>
            <p>
                <a class="icon" href="https://github.com/up1/soa_group3">
                    <i class="fa fa-github"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
-->