	  <nav class="nav">
	  <div class="container">
	    <div class="nav-left">
	      <a class="nav-item" routerLink="/" routerLinkActive="active">
	        <img src="assets/images/web-logo2.png" alt="Reserve Football Stadium">
	      </a>
	      <a class="nav-item is-tab is-hidden-mobile" routerLink="/reserve" routerLinkActive="is-active">จองสนาม</a>
	      <a class="nav-item is-tab is-hidden-mobile" routerLink="/reserve/id" routerLinkActive="is-active">รายการจองสนาม</a>
	    </div>
	    <span class="nav-toggle">
	      <span></span>
	      <span></span>
	      <span></span>
	    </span>
	    <div class="nav-right nav-menu">
	      <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">จองสนาม</a>
	      <a class="nav-item is-tab is-hidden-tablet" routerLinkActive="is-active">รายการจองสนาม</a>
	      <a class="nav-item is-tab" routerLink="/user/id" routerLinkActive="is-active">
	        <span class="icon">
	          <i class="fa fa-user"></i>
	        </span>
	        User
	      </a>
	      <a class="nav-item is-tab" routerLink="/auth" routerLinkActive="is-active">เข้าสู่ระบบ</a>
	    </div>
	  </div>
	</nav>
	<script type="text/javascript">
	    jssor_1_slider_init = function() {

            var jssor_1_SlideoTransitions = [
              [{b:900,d:2000,x:-379,e:{x:7}}],
              [{b:900,d:2000,x:-379,e:{x:7}}],
              [{b:-1,d:1,o:-1,sX:2,sY:2},{b:0,d:900,x:-171,y:-341,o:1,sX:-2,sY:-2,e:{x:3,y:3,sX:3,sY:3}},{b:900,d:1600,x:-283,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: 1,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*responsive code begin*/
            /*remove responsive code if you don't want the slider scales while window resizing*/
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    // refSize = Math.min(refSize, 1920);
										refSize = Math.min(refSize, 1350);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $Jssor$.$AddEvent(window, "load", ScaleSlider);
            $Jssor$.$AddEvent(window, "resize", ScaleSlider);
            $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            /*responsive code end*/
        };
    </script>
    <style>
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        .jssora22l.jssora22lds      (disabled)
        .jssora22r.jssora22rds      (disabled)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
        .jssora22l.jssora22lds { background-position: -10px -31px; opacity: .3; pointer-events: none; }
        .jssora22r.jssora22rds { background-position: -70px -31px; opacity: .3; pointer-events: none; }
    </style>
    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;visibility:hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:500px;overflow:hidden;">
            <div>
                <img data-u="image" src="img/red.jpg" />
                <!-- <div style="position:absolute;top:30px;left:30px;width:480px;height:120px;z-index:0;font-size:50px;color:#ffffff;line-height:60px;">TOUCH SWIPE SLIDER</div>
                <div style="position:absolute;top:300px;left:30px;width:480px;height:120px;z-index:0;font-size:30px;color:#ffffff;line-height:38px;">Build your slider with anything, includes image, content, text, html, photo, picture</div>
                <div style="position:absolute;top:120px;left:650px;width:470px;height:220px;z-index:0;">
                    <img style="position:absolute;top:0px;left:0px;width:470px;height:220px;z-index:0;" src="img/c-phone-horizontal.png" />
                    <div style="position:absolute;top:4px;left:45px;width:379px;height:213px;z-index:0; overflow:hidden;">
                        <img data-u="caption" data-t="0" style="position:absolute;top:0px;left:0px;width:379px;height:213px;z-index:0;" src="img/c-slide-1.jpg" />
                        <img data-u="caption" data-t="1" style="position:absolute;top:0px;left:379px;width:379px;height:213px;z-index:0;" src="img/c-slide-3.jpg" />
                    </div>
                    <img style="position:absolute;top:4px;left:45px;width:379px;height:213px;z-index:0;" src="img/c-navigator-horizontal.png" />
                    <img data-u="caption" data-t="2" style="position:absolute;top:476px;left:454px;width:63px;height:77px;z-index:0;" src="img/hand.png" />
                </div> -->
            </div>
            <div>
                <img data-u="image" src="img/purple.jpg" />
            </div>
            <div>
                <img data-u="image" src="img/blue.jpg" />
            </div>
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:8px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:8px;width:40px;height:58px;" data-autocenter="2"></span>
    </div>




		<div class="container" style="background-image: url('img/img.jpg'); height: 800px;">
		
			<div class="test" style="background-color:#000000;; height: 100%; width: 100%;">
					<p style="opacity: 100; text-align: center; font-size: 50px; padding-top: 20%"> Footbal Resevation</p>
					<p style="text-align: center;">เว็บไซต์จองสนามฟุตบอลออนไลน์ ไม่ว่าคุณจะอยู่ที่ใดก็สามารถจองสนามฟุตบอลออนไลน์ได้ทั่วประเทศไทย เว้บไซต์ของเรามีสนามมากกว่า 1024 ทั่วประเทศ<br>
					ที่ประเทศที่พร้อมจะสาดความมันส์ไปกับพวกคุณ รออ่ะไรอยู่ </p>
					<!--<div class="field has-addons has-addons-centered" style="margin-top: 30px">-->
						<div class="level-item has-text-centered" style="margin-top: 30px">
					  <a class="button is-success is-large" style="margin-right: 30px;">จองเลย</a>
  					<a class="button is-warning is-large" style="opacity: 100">สมัครสมาชิก</a>
						</div>
					<!--</div>-->
			</div>
		</div>



    <div class="container" style="margin: 100px 0px 100px 100px;padding-bottom: 30px; border-bottom: 5px solid red;">
    	<div class="" >
    		<p style="font-size: 50px">Promotion</p>
    	</div>
    </div>



    <div class="container scrollbar" id="style-2" style=" margin: 100px 0px 100px 100px; height: 500px;">
    	<div class="force-overflow" style="background: #000000">
    	<article class="media">
		  <figure class="media-left" style="width: 20%;">
		    <p class="image is-64x64" style="width: 70%; margin: auto;">
		      <img src="http://bulma.io/images/placeholders/128x128.png">
		    </p>
		  </figure>
		  <div class="media-content">
		    <div class="content">
		      <p>
		        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
		        <br>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
		      </p>
		    </div>
		    <nav class="level is-mobile">
		      <div class="level-left">
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-reply"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-heart"></i></span>
		        </a>
		      </div>
		    </nav>
		  </div>
		  <div class="media-right">
		    <button class="delete"></button>
		  </div>
		</article>

		<article class="media">
		  <figure class="media-left" style="width: 20%">
		    <p class="image is-64x64" style="width: 70%; margin: auto;">
		      <img src="http://bulma.io/images/placeholders/128x128.png">
		    </p>
		  </figure>
		  <div class="media-content">
		    <div class="content">
		      <p>
		        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
		        <br>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
		      </p>
		    </div>
		    <nav class="level is-mobile">
		      <div class="level-left">
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-reply"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-heart"></i></span>
		        </a>
		      </div>
		    </nav>
		  </div>
		  <div class="media-right">
		    <button class="delete"></button>
		  </div>
		</article>

		<article class="media">
		  <figure class="media-left" style="width: 20%">
		    <p class="image is-64x64" style="width: 70%; margin: auto;">
		      <img src="http://bulma.io/images/placeholders/128x128.png">
		    </p>
		  </figure>
		  <div class="media-content">
		    <div class="content">
		      <p>
		        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
		        <br>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
		      </p>
		    </div>
		    <nav class="level is-mobile">
		      <div class="level-left">
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-reply"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-heart"></i></span>
		        </a>
		      </div>
		    </nav>
		  </div>
		  <div class="media-right">
		    <button class="delete"></button>
		  </div>
		</article>

		<article class="media">
		  <figure class="media-left" style="width: 20%">
		    <p class="image is-64x64" style="width: 70%; margin: auto;">
		      <img src="http://bulma.io/images/placeholders/128x128.png">
		    </p>
		  </figure>
		  <div class="media-content">
		    <div class="content">
		      <p>
		        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
		        <br>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
		      </p>
		    </div>
		    <nav class="level is-mobile">
		      <div class="level-left">
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-reply"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-heart"></i></span>
		        </a>
		      </div>
		    </nav>
		  </div>
		  <div class="media-right">
		    <button class="delete"></button>
		  </div>
		</article>

		<article class="media">
		  <figure class="media-left" style="width: 20%">
		    <p class="image is-64x64" style="width: 70%; margin: auto;">
		      <img src="http://bulma.io/images/placeholders/128x128.png">
		    </p>
		  </figure>
		  <div class="media-content">
		    <div class="content">
		      <p>
		        <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
		        <br>
		        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
		      </p>
		    </div>
		    <nav class="level is-mobile">
		      <div class="level-left">
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-reply"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-retweet"></i></span>
		        </a>
		        <a class="level-item">
		          <span class="icon is-small"><i class="fa fa-heart"></i></span>
		        </a>
		      </div>
		    </nav>
		  </div>
		  <div class="media-right">
		    <button class="delete"></button>
		  </div>
		</article>
		    </div>
		  </div>
    <script type="text/javascript">jssor_1_slider_init();</script>