  <div style="margin-left: 50px; margin-right: 50px">
  <table class='table'>
  <thead>
    <tr>
      <th>fname</th>
      <th>email</th>
      <th>address</th>
      <th>picture</th>
      <th>username</th>
      <th>password</th>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.fname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.address}}</td>
      <td>{{user.picture}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <div *ngIf="user.role === 2" >
      <td> <a class="button is-success">Success</a></td>
      </div>
      <div *ngIf="user.role === 1" >
      <td>  </td>
      </div>
      <td> <a class="button is-danger">Delete</a></td>
    </tr>
  </tbody>
</table>
  </div>